body{
    background: black;
    text-align:center;
    padding: 1rem;
    margin:0px;
    display:flex;
    flex:1;
    flex-direction: column;
    align-items: center;
    
    
    
}
h1{
    color:wheat;
}
#numberContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#submitBtn{
    display: flex;
    border-radius: 20px;
    max-width: 110px;
    align-items: center;
    text-wrap: wrap;
}

#gridContainer{
    height:600px;
    width:600px;
    display:flex;
    flex-direction: column;
    align-items: stretch;
    border:solid 2px white;
 
}

.row{
    display:flex;
    width: 600px;
    flex:1;
    

}
.cell{
    display:flex;
    flex:1;
    background-color: rgb(82, 82, 82);
    
    
}
#toolbarContainer{
    display:flex;
    justify-content: space-between;
    margin-top: 10px;
    
}




