body{
    background: green;
    text-align:center;
    padding: 1rem;
    position:fixed;
    width:600px;
    height: 600px;
    margin:0px;
    
    
}

#gridContainer{
    height:600px;
    width:600px;
    display:flex;
    flex-direction: column;
    align-items: stretch;
    border:solid 2px white;
 
}

.row{
    display:flex;
    width: 600px;
    flex:1;
    

}
.cell{
    display:flex;
    flex:1;
    background-color: gray;
    border:1px solid black;
    
}




/* 1.081730769 */